@import "tailwindcss";
@plugin "@tailwindcss/typography";

td code {
  font-weight: 100;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/** Grid layout without box shadow on h2-inner */
.mdLayout .h2-wrap > .h2-inner { 
  @apply flex flex-col lg:grid lg:grid-cols-3 lg:gap-7; /* Removed shadow-lg */
}
.mdLayout .h2-wrap.cols-1 > .h2-inner { @apply lg:grid-cols-1; }
.mdLayout .h2-wrap.cols-2 > .h2-inner { @apply lg:grid-cols-2; }
.mdLayout .h2-wrap.cols-3 > .h2-inner { @apply lg:grid-cols-3; }
.mdLayout .h2-wrap.cols-4 > .h2-inner { @apply lg:grid-cols-4; }
.mdLayout .h2-wrap.cols-5 > .h2-inner { @apply lg:grid-cols-5; }
.mdLayout .h2-wrap.cols-6 > .h2-inner { @apply lg:grid-cols-6; }

/** Add box shadow and white background to h3-wrap inside all cols */
.mdLayout .h2-wrap > .h2-inner > .h3-wrap {
  @apply bg-white shadow-lg rounded-lg px-4 md:p-5; /* Apply bg-white and shadow-lg to h3-wrap */
}

.mdLayout .h2-wrap > .h2-inner> .col-span-6 {
  @apply col-span-6; /* Ensure col-span-6 is applied correctly */
}